<!doctype html>
<html lang="en" class="bg-neutral">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/output.css" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <title>Oglaf Search | {{ title }}</title>
</head>

<body>
  <div class="mx-auto max-w-screen-md bg-base-100 p-4">
    <div class="mb-4">
      <h1 class="text-4xl font-extrabold">
        <a class="flex items-center" href="{{url_for('home')}}">
          <img class="mr-2" src="{{ url_for('static', filename='images/logo.png') }}" />Oglaf Search</a>
      </h1>
    </div>
    {% block main -%}
    {%- endblock %}
  </div>
  <footer class="footer mx-auto max-w-screen-md p-4 bg-neutral text-neutral-content">
    <div class="leading-7 text-base">
      <p>
        Not affiliated with <a class="link" href="https://www.oglaf.com">oglaf.com</a>, we're just fans.<br />
        Source code and feedback at <a class="link" href=" https://github.com/vlmphipps/oglaf-meta">GitHub</a>.
        Released under the <a class="link" href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL v3</a>.<br />
        Tailwind CSS and daisyUI are under the <a class="link" href="https://opensource.org/licenses/MIT">MIT
          license</a>.
      </p>
    </div>
  </footer>

</body>

</html>
