{% extends 'base.html' %}

{% block main %}
<div class="leading-7 text-base">
  <p class="mb-2">Searches titles of Oglaf strips, as well as tags added by contributors to the project.</p>
  <p class="mb-2">Titles last updated 2023-01-29, tags added through 2021-07-19.</p>
</div>
<form action="{{url_for('search_results')}}" class="mt-4">
  {{ form.search(class="input input-bordered w-full max-w-xs my-4 mr-2", autofocus=1) }}
  <input type="submit" value="Search" class="btn btn-primary" />
</form>
{% endblock %}
